body {padding:0; margin:0}

.container-fluid {width:100%; height:100%}

.header {height:16%; width:100%; /*background-color:cyan;*/; position:fixed; z-index:50;margin-left:-1.1%;}

.logo {width:120; height:60; margin:20 0 auto 120; float:left;}

.head {float:right; width:60%; height:100%; float:right;margin:30 120 0 0;}

ul {font-family:Brandon grotesque; line-height:3; text-align:right; }

li { font-size:100%; display:inline; padding-left:36; }

.head a {text-decoration:none; color:black; opacity:0.4; transition: 0.4s;}

.head a:hover {font-weight: bold; opacity:0.8; transition: 0.4s;text-decoration:none; color:black;}

.box {background-color:#cbaa51; width: 27%; height:100%; float:left;margin-left:-1.1%;}

.body {float:right; width:73%; height:100%; float:right;}

.notices {font-family: 'Average', serif; font-size: 84; color:#2b2b2b; line-height:1.1;float:left;text-align:left; 
		  opacity:0.75; margin:15% 0 2% 5%; width:95%;}
		  
.circle {margin: 0 0 0 5%; width:20; height:20; opacity:0.75;}		

.heading {font-size:30;font-family: brandon grotesque; color:#2b2b2b;opacity:0.75; text-align:left; line-height:0.8; 
		margin: 2% 0 0 2%;}

.pdfdwnld {height:20; width:20; opacity:0.6; margin:0 0 0 4%;}

.text {font-size:15;font-family: brandon grotesque;color:#2b2b2b; opacity:0.5; text-align:left; line-height:1; 
	   margin: 0.5% 0 0 10%; width: 60%;}

hr {opacity:0.4; margin: 2% 5% 2% 5%;}

a {text-decoration: none;}
